<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StudentFileName" value="WPFstudents2.bin"/>
    <!--список дисциплін-->
    <add key="DisciplinesFileName" value="WPFdisciplines.bin"/>
    <add key="ImagesPath" value="C:\Users\user.STEP\Documents\Visual Studio 2017\Projects\images\"/>
    <add key="ImagesPath_small" value="C:\Users\user.STEP\Documents\Visual Studio 2017\Projects\images\small\"/>
    <add key="ImagesPath_middle" value="C:\Users\user.STEP\Documents\Visual Studio 2017\Projects\images\middle\"/>

  </appSettings>
</configuration>